<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bombas Craft</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="header-image"></div>
        <h1> C R A F T </h1>
        <br>
        <nav id="menu" class="topnav">
            <a routerLink="/Inicio"><i class="fas fa-home"></i> Inicio</a>
            <a routerLink="/Alimentos"><i class="fas fa-utensils"></i> Alimentos</a>
            <a routerLink="/Bebidas"><i class="fas fa-glass-martini-alt"></i> Bebidas</a>
            <a routerLink="/Sucursales"><i class="fas fa-store"></i> Sucursales</a>
        </nav>
    </header>

    <main>
        <section class="info-section">
            <h2>Ubicaciones y Horarios</h2>
            
            <div class="location">
                <div class="location-content">
                    <div class="location-text">
                        <h3>Ubicación de Craft Nieto:</h3>
                        <p>20000, Nieto 428, Zona Centro, 20000 Aguascalientes, Ags.</p>
                        <p>Horarios: 10:00 AM - 10:00 PM</p>
                    </div>
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.452551631141!2d-102.3011544!3d21.8786424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee87826e5e37%3A0x565a7501965a6394!2sCraft!5e0!3m2!1ses-419!2smx!4v1719950227400!5m2!1ses-419!2smx" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div id="carouselCraftNieto" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://scontent-hou1-1.xx.fbcdn.net/v/t1.6435-9/89987943_2509967845988024_5067641138140151808_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=0327a3&_nc_ohc=TFDqBV_OavoQ7kNvgF259E0&_nc_ht=scontent-hou1-1.xx&oh=00_AYBCdCLel8lXs04RKnW4AXK0WmyV3F6wneyGhGq2v-XeJw&oe=66C67D38" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="location">
                <div class="location-content">
                    <div class="location-text">
                        <h3>Ubicación de Craft Tecnológico:</h3>
                        <p>Av Tecnológico 205, Salto de Ojocaliente, 20341 Aguascalientes, Ags.</p>
                        <p>Horarios: 10:00 AM - 10:00 PM</p>
                    </div>
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.665970527961!2d-102.25486112232826!3d21.870416406789385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429f3de2134a12f%3A0x151b465260495013!2sCraft%20Tecnol%C3%B3gico!5e0!3m2!1ses-419!2smx!4v1720055950174!5m2!1ses-419!2smx" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div id="carouselCraftNieto" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://www.instagram.com/p/C65Cu_XueT4/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="location">
                <div class="location-content">
                    <div class="location-text">
                        <h3>Ubicación de Craft Universidad:</h3>
                        <p>Av. Universidad 1101, Fatima, 20120 Aguascalientes, Ags</p>
                        <p>Horarios: 10:00 AM - 10:00 PM</p>
                    </div>
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29615.4806148194!2d-102.32829461035648!3d21.898575687904632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ef2625fe213b%3A0x20ffaa42a82b7b9f!2sCraft%20Bar!5e0!3m2!1ses-419!2smx!4v1720055818988!5m2!1ses-419!2smx" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div id="carouselCraftNieto" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMGIze0iCaMdea9pg-kHJSLVeF-kkqU5W9Qg&s" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="social-media">
                <a href="https://www.facebook.com/craftnieto" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/craftnieto/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.google.com.mx/maps/place/Craft/@21.8786424,-102.3011544,17z/data=!4m6!3m5!1s0x8429ee87826e5e37:0x565a7501965a6394!8m2!3d21.8786424!4d-102.3011544!16s%2Fg%2F11csr6769y?entry=ttu" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Bombas Craft. Todos los derechos reservados.</p>
            <p><a href="terminos.html" target="_blank">Términos y condiciones</a></p>
        </div>
    </footer>

    <a href="https://api.products.aspose.app/page/api/files?uri=2fe4511e-4f50-4b7d-9f40-ed87a8d02859.png" target="_blank" class="watermark">
        <img src="https://api.products.aspose.app/page/api/files?uri=2fe4511e-4f50-4b7d-9f40-ed87a8d02859.png" alt="Marca de Agua">
    </a>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
